.card {
    border: 1px solid #ddd;
    margin: 10px; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
    background: #f9f9f9;
    flex: 0 1 22%; 
    width: 30%;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}


.image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.image:hover {
    transform: scale(1.05);
}

.content {
    text-align: center;
}

.title {
    margin: 15px 0;
    font-size: 1.5rem;
    color: #1a237e; 
}

.link {
    color: #3f51b5;
    text-decoration: none;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

.link:hover {
    text-decoration: underline;
    color: #5c6bc0;
}

.description {
    color: #333;
    font-size: 1rem;
    margin-bottom: 10px;
}

.date {
    color: #666;
    font-size: 0.85rem;
}

.category {
    background-color: #e8eaf6;
    color: #3f51b5;
    border-radius: 50px;
    padding: 5px 15px;
    display: inline-block;
    margin-top: 5px;
    transition: transform 0.3s ease;
}

.category:hover {
    transform: translateY(-3px) scale(1.1);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.title, .description {
    animation: fadeIn 0.8s ease-out;
}


/* Media Queries */
@media (max-width: 1200px) {
    .card {
        flex: 0 1 31%; 
    }
}

@media (max-width: 800px) {
    .card {
        flex: 0 1 48%; 
    }
}

@media (max-width: 500px) {
    .card {
        flex: 0 1 100%; 
        margin: 10px 0; 
    }
}
