.pageLayout {
    display: flex;
    font-family: 'Garamond', serif; 
  }
  
  .newsFeed {
    flex: 1;
    color: #fff;
    background-color: #152433;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .header {
    border-bottom: 2px solid goldenrod;
    padding-bottom: 10px;
  }
  
  .newsItem {
    margin-top: 20px;
  }
  
  h2 {
    color: goldenrod;
  }
  
  p {
    color: #fff;
    font-size: 16px;
    margin-top: 5px;
  }